@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola!</h1>
    <p>Esta es una pequeña muestra de los servicios de Azure en la nube y su implementación.</a>.</p>
</div>
